body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
    color: #772828;
    margin: 0;
}

header {
    background-color: #922626;
    color: white;
    padding: 20px;
}

h1 {
    font-size: 2em;
}

h2 {
    color: #11894950;
}

a {
    color: #3d76b0;
}

a:hover {
    color: #cc0000;
}

a:visited {
    color: #663399;
}

a:active {
    color: #009933;
}

.article,
article {
    background-color: white;
    margin: 60px;
    padding: 60px;
    
}

img {
    max-width: 100%;
    margin-bottom: 15px;
}

.date {
    font-size: 0.9em;
    color: #ccc;
}

blockquote {
    border-left: 4px solid #666;
    padding-left: 10px;
    font-style: italic;
    color: #555;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
